ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
}
nav{
    /* padding: 5px 0px 5px 0px; */
    background-color:  #333;
    /* height: 100px; */
}

li {
    font-family: 'Lato';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
  }

  .header-nav:hover {
	background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	transition: all ease 0.2s;
  }